@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playwrite+DK+Loopet:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-garamond: 'EB Garamond', serif;
  --font-playwrite: 'Playwrite DK Loopet', cursive;
  --color-text-primary: #FFE6A7;

}

@layer base {
  html {
    font-family: var(--font-jakarta);
  }
}


.container-wedding {
  @apply bg-[url('/Image.png')] bg-[#333446] bg-cover bg-center bg-no-repeat ;
}

.image-wdding {
  animation: MoveUpDown 20s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

body {
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}

.image-wdding img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20%;
  opacity: 0.2;
  filter: blur(4px); /* <-- efek blur di sini */
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes rotateY-up {
  0% {
    transform: translateY(0) rotateY(0deg);
  }
  50% {
    transform: translateY(-10px) rotateY(90deg);
  }
  100% {
    transform: translateY(-10px) rotateY(180deg);
  }
}

.icon-animate {
  animation: rotateY-up 0.5s ease-in-out forwards;
  transform-style: preserve-3d;
  perspective: 800px;
}

.icon-selected {
  border: 2px solid #FFE6A7; /* warna text-primary */
  border-radius: 9999px;
  padding: 6px;
  background-color: #444;
}

@keyframes falling {
            0% {
              transform: translateY(-50px);
              opacity: 1;
            }
            85% {
              opacity: 1;
            }
            100% {
              transform: translateY(100vh);
              opacity: 0;
            }
          }
          
          @keyframes sway {
            0%, 100% {
              transform: translateX(-15px) rotate(0deg);
            }
            50% {
              transform: translateX(15px) rotate(180deg);
            }
          }





/* styles.css */

.flip-clock {
  --fcc-flip-duration: 0.5s; /* transition duration when flip card */
  --fcc-spacing: 8px; /* space between unit times and separators */
  --fcc-digit-block-width: 30px; /* width of digit card */
  --fcc-digit-block-height: 30px; /* height of digit card, highly recommend in even number */
  --fcc-digit-block-radius: 5px; /* border radius of digit card */
  --fcc-digit-block-spacing: 5px; 
  --fcc-digit-font-size: 25px; /* font size of digit */
  --fcc-digit-color: #FFE6A7; /* color of digit */
  --fcc-label-font-size: 10px; 
  --fcc-label-color: #FFE6A7; /* color of label */
  --fcc-background: #333446; /* background of digit card */
  /* --fcc-divider-color: white; color of divider */
  /* --fcc-divider-height: 1px; height of divider */
  /* --fcc-separator-size: 6px; size of colon */
  /* --fcc-separator-color: red; color of colon */
}